<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="left-sidebar">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
                <div class="nav-link">
                    <div class="profile-image">
                        <img src="/assets/images/faces/face10.jpg" alt="image">
                        <span class="online-status online"></span> <!--change class online to offline or busy as needed-->
                    </div>
                    <div class="profile-name">
                        <p class="name" th:text="${fullName}"></p>
                        <p class="designation">
                            Super Admin
                        </p>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
                    <i class="icon-check menu-icon"></i>
                    <span class="menu-title">Customer</span>
                    <span class="badge badge-danger">2</span>
                </a>
                <div class="collapse" id="page-layouts">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/customers">List</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/customers/create">Create</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</th:block>
